<style>
    footer{
        position: relative;
        bottom: 0;
        left: 0;
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 50px;
    }
    footer .logo{
        font-family: "Knewave", system-ui;
        font-size: 1.5rem;
    }
</style>

<footer>
    <div class="logo">
        <i class="fa-solid fa-ghost"></i> Haunt
    </div>
    <p>&copy; copyrights by Ashish Suthar</p>
</footer>