<% layout('/layouts/boilerplate.ejs') -%>

<body>
    
    <h3><%=UserData.name%></h3>
    <h4>Followers</h4>
    <ul>
        <%for( user of UserData.follower) {%>
            <li><%=user.followerUser.name%></li>
        <%}%>
        
    </ul>
</body>